.home-content {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(75, 74, 74);
  height: 100%;
  overflow: hidden;
}

.home-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  height: 200px;
  border-color: transparent;
  position: relative;
  object-fit: cover;
  margin-bottom: 5px;
  margin-right: 2px;
}

.mat-card-image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 6px;
}

.movieInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.mat-card-title {
  color: silver;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  padding-top: 9px;
}

.buttons {
  align-self: flex-end;
  margin-top: 10px;
  padding-right: 5px;
}

.button-details {
  background-color: silver;
  padding: 5px;
}

.button-details:hover {
  background-color: rgb(5, 182, 182);
}

.description {
  max-width: 500px;
  margin-top: 10px;
  overflow: hidden;
  color: silver;
  text-justify: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding-right: 5px;
  padding-left: 5px;
}

.Language-selector-bar {
  display: flex;
  background-color: rgb(75, 74, 74);
  flex-direction: row-reverse;
}



/*recoursive*/

/*
  @media screen and (min-width: 642px) {
    .home-content 
      .home-card {
        width: calc(50% - 52px);
      }
      
    
  }
  
  @media screen and (min-width: 950px) {
    .home-content 
      .home-card {
        width: calc(33.333% - 52px);
      }
    
  }
  
  @media screen and (min-width: 1300px) {
      .home-content 
        .home-card {
          width: calc(23% - 60px);
        }
        .mat-card-image {
          width: 290px;
          height: 228px;
          }
    }

    @media screen and (min-width: 1600px) {
      .home-content 
        .home-card {
          width: calc(23% - 60px);
        }
        .mat-card-image {
          width: 372px;
          height: 228px;
          }
    }

    @media screen and (max-width: 1080px) {
      .mat-card-image {
        width: 300px;
        height: 228px;
        }
    }

    @media screen and (max-width: 1300px) {
      .mat-card-image {
        width: 352px;
        height: 228px;
        }
    }
    
    @media screen and (max-width: 280px) {
      .home-content 
        .home-card {
          width: calc(100% - 30px);
        }
        .mat-card-image {
          width: 280px;
          height: 200px;
        }
    }
    @media screen and (width: 414px) {
      .home-content 
        .home-card {
          width: calc(100% - 30px);
        }
        .mat-card-image {
          width: 470px;
          height: 200px;
        }
    }*/
