<mat-sidenav-container class="top-sidenav" (backdropClick)="closeSideNav()">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true" >
    <mat-toolbar color="primary" >
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="closeSideNav()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!--Opções sidenav-->
    
    <mat-nav-list class="nav-list">
      <button class="nav-btn" type="button" mat-button (click)="homePage()">
        <mat-icon>home</mat-icon> 
        <span *ngIf="languageRender=='en-US'" >Home</span> 
        <span *ngIf="languageRender=='pt-BR'" >Inicio</span>
      </button>
      <button class="nav-btn" type="button" mat-button>
        <mat-icon>fiber_new</mat-icon> 
        <span *ngIf="languageRender=='en-US'">Releases</span> 
        <span *ngIf="languageRender=='pt-BR'">Lançamentos</span>
      </button>
    </mat-nav-list>
    <!--Opções sidenav-->
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="openSideNav()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    <span class="FilmList" (click)="homePage()">FilmList</span>
    <span class="spacer"></span>
    <!--config here-->
    <app-config-btn></app-config-btn>
    <!--Until here-->
    </mat-toolbar>
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>
